nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
nav img{
    width: 30px;
}
nav img.plus{
    width: 50px;
}